# Python ultilities for world timezone
pytz==2025.2

# Python libraries for array computing
numpy==2.3.5

# Python libraries for time series and statistics
pandas==2.3.3

# Python libraries for Apache Arrow
pyarrow==22.0.0

# Google modules for authentication
google-auth==2.43.0

# Google modules for API client core
google-api-core==2.28.1

# Google modules for BigQuery
google-cloud-bigquery==3.38.0

# Google modules for GCP BigQuery Storage
google-cloud-bigquery-storage==2.34.0

# Google modules for Secret Manager
google-cloud-secret-manager==2.25.0

# Google modules for Spreadsheets Python API v4
gspread==6.2.1

# Google modules for GCP BigQuery Native Pandas Connector
pandas-gbq==0.31.0

# Last updated: 2025-11-26